*{
  margin:0;
  padding:0;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:16px;
}

@media (max-width: 600px) {
  .widget-container .inner-content{
	  min-height:150px;
	}
  .widget-container .inner-cell> * {
    display:block;
  }
  body,h2,h4{
   font-size:14px;
  }
  h1{
   font-size:30px;
  }
}
@media (min-width: 601px) {
	.widget-container .inner-content{
	  min-height:100px;
	}
        .widget-container .inner-cell> * {
    display:inline-block;
  }
}

a {
  color: #00B7FF;
}
.container{
  text-align:center;
}
.title{
  margin-bottom:40px;
}
ul{
  list-style: none;
}

ul li{
  float:left;
  padding:10px;
}

ul li a{
  display:block;
}
.collaborators li img{
  width:auto;
  vertical-align:middle;
}
.collaborators{
  list-style: none;
  text-align:center;
}
.collaborators li{
  text-align:center;
  display:inline-block;
  float:none!important;
}

.sunway,.lora{
  padding:0 30px;
}
.cytron img{
  height:60px;
}
.sunway img{
  height:25px;
}
.lora img{
  height:50px;
}

.info-container{
  text-align:left;
}

.map-container{
  padding-bottom:10px;
}

ng-map{
  width:100%;
  height:100%;
}

.chart-container{
  width:100%!important;
  position:relative;
}

.panel-body, .widgets-container{
  text-align:center;
}

.panel.red .panel-heading{
  background:red!important;
}
.panel.blue .panel-heading{
  background:#337ab7!important;
}

.panel-heading{
  color:white!important;
}

.panel-heading img{
  margin-right:5px;
}
.connected{
  float:right;
}

table{
  margin-top:20px;  
}

thead th {
  text-align:center;
}

tbody tr{
  cursor:pointer;
}

.table-striped>tbody>tr:hover td {
    background-color: #d9d9d9;
}

.panel-body{
 background:#ddd;
}

.panel-body .widgets-container{
  background:#ddd;
  max-width: 600px;
}

.widgets-container{
  width:100%;
  text-align:center;
  display:inline-block;
}

.widget-container{
  margin:1%;
  float:left;
  background:white;
  padding:10px;
}

.widget-container.col-50{
   width:48%;
}

.widget-container.col-33{
   width:31.33%;
}

.widget-container.col-25{
   width:23%;
}

.widget-container .sensor-label{
 text-transform: capitalize;
 font-weight:bold;
}

.widget-container .inner-content{
  display:table;
  width:100%;
}

.widget-container .inner-cell{
  display:table-cell;
  vertical-align:middle;
}

.widget-container .inner-cell> * {
 vertical-align:middle;
 margin: 2%;
}

.widget-container .fa{
  font-size:50px;
}

.widget-container .fa-thermometer-2{
  color:#8A2BE2
}

.widget-container .fa-map-marker{
  color:red
}

.widget-container .fa-cubes{
  color: #999;
}

.widget-container h1,
.widget-container h2{
  margin-top:10px;
}


